*.o
*.lib
*.a
*.la
*.lo
*.so
*.so.*
*.out
.deps
.libs
Makefile
Makefile.in
m4
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
lib/librpi-lcd.pc
libtool
ltmain.sh
missing
src/lcdcontrol
