[Unit]
Description=Chrony daemon service
DefaultDependencies=no
After=systemd-udevd.service systemd-udev-trigger.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=modprobe i2c-dev
ExecStart=/usr/sbin/chronyd -rum4 -P 0 
