[Unit]
Description=Display booting message on LCD device
DefaultDependencies=no
After=systemd-udevd.service systemd-udev-trigger.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=modprobe i2c-dev
ExecStart=/usr/bin/lcdcontrol init str="Booting..."
